body {
    background-color: #fff694;
    text-align: center;
    
}

.navbar {
    background-color: #000000;
}

a {
    color: #f7ff08;
    text-align: center;
}

a:hover {
    color: #ff0808;
  }
div.social i{
  color:red;
  font-size:45px;
  padding:10px;
  transition: background 0.3s;
}
div.social i:hover{
  background:red;
  color:#323840;
  border-radius:5px;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.github {
  background: #000000;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram{ 
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }